<launch>
    <param command="xacro --inorder '$(find foxbot2)/urdf/foxbot2_whycon.urdf'" name="robot_description"/>

   	<arg name="name" default="whycon"/>
  	<arg name="targets" default="1"/>
  <!-- DO NOT CHANGE THE FOLLOWING TWO VALUES  -->
  	<arg name="outer_diameter" default=".55"/>
  	<arg name="inner_diameter" default=".20"/>


    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
    <arg name="debug" default="false"/>
	<arg name="paused" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="verbose" default="false"/>
	<arg name="world" default="$(find foxbot2)/worlds/parking.world" />


	<!-- include gazebo launcher -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch" >
		
		<arg name="world_name" value="$(arg world)"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="verbose" value="$(arg verbose)"/>
		<arg name="paused" value="$(arg paused)"/>
	</include>


	<node name="spawn_udrf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model foxbot2 -x $(arg x) -y $(arg y) -z $(arg z)" />

	<!-- Load joint controller configurations from YAML file to parameter server -->
  	<rosparam file="$(find foxbot2)/foxbot2_control.yaml" command="load"/>

  	<!-- load the controllers -->
  	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="true"
    	output="screen" ns="/foxbot2" args="right_front_wheel_controller left_front_wheel_controller right_back_wheel_controller left_back_wheel_controller joint_state_controller"/>

  	<!-- convert joint states to TF transforms for rviz, etc -->
  	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
   		respawn="false" output="screen">
    <remap from="/joint_states" to="/foxbot2/joint_states" />
  	</node>





  <node name="whycon" type="whycon" pkg="whycon" output="screen">
    <param name="targets" value="$(arg targets)"/>
    <param name="name" value="$(arg name)"/>
    <param name="outer_diameter" value="$(arg outer_diameter)"/>
    <param name="inner_diameter" value="$(arg inner_diameter)"/> 
    <remap from="/camera/camera_info" to="/gazebo/overhead_cam/camera_info"/> 
    <remap from="/camera/image_rect_color" to="/gazebo/overhead_cam/image"/>
  </node>


  <node ns = "whycon_display" name="image_view" type="image_view" pkg="image_view" output="screen">
    <remap from="image" to="/whycon/image_out"/>
  </node>

</launch>